<!doctype html>

<html lang="sv">
<head>

        <title>Bagpacker</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/style.css" rel="stylesheet">
        <link rel='shortcut icon' type='image/x-icon' href="/static/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto+Condensed" rel="stylesheet">


</head>

<body>
    <h1>Din packlista</h1>
    <main>
        <div id="packlista">
            <form action="/save_list/" method="POST">
            <input type="hidden" name="saved_list" value="{{item_list}}">
            <input type="submit" id="button" value="Spara listan">
            </form>
            <p>Destination: {{location}}</p>
            <p>Resans längd: {{length}} dagar</p>
            <p>Temperaturen på din destination beräknas ligga mellan {{temp_min}} och {{temp_max}} °C (baserad på {{which_data}} väderdata).</p>
            <p>Vi föreslår att du packar:</p>
            <h2>Kläder</h2>
            % for item in item_list:
                %if item['category'] == "kläder":
                <ul id="item_list">
                    <li>
                        {{item['item']}}
                    </li>
                </ul>
                %end
            %end
            <h2>Hygienartiklar</h2>
            % for item in item_list:
                %if item['category'] == "necessär":
                <ul id="item_list">
                    <li>
                        {{item['item']}}
                    </li>
                </ul>
                %end
            %end
            <h2>Resehandlingar</h2>
            % for item in item_list:
                %if item['category'] == "resehandlingar":
                <ul id="item_list">
                    <li>
                        {{item['item']}}
                    </li>
                </ul>
                %end
            %end
            <h2>Elektronik</h2>
            % for item in item_list:
                %if item['category'] == "elektronik":
                <ul id="item_list">
                    <li>
                        {{item['item']}}
                    </li>
                </ul>
                %end
            %end
            <h2>Specialutrustning</h2>
            % for item in item_list:
                %if item['category'] == "specialutrustning":
                <ul id="item_list">
                    <li>
                        {{item['item']}}
                    </li>
                </ul>
                %end
            %end
            <h2>Övrigt</h2>
            % for item in item_list:
                %if item['category'] == "övrigt":
                <ul id="item_list">
                    <li>
                        {{item['item']}}
                    </li>
                </ul>
                %end
            %end
        </div>
    </main>

    <footer>
        &copy; Team Bagpacker 2019
    </footer>



</body>


</html>