html {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Didact Gothic', sans-serif !important;
    font-size: 18px !important;
    margin: 0;
    padding: 0;
    min-height: 600px;
    background-image: url("/static/crumpled-2537807_1920.jpg");
    background-size: 100%;
}

header {
    background-color: rgba(255, 255, 255, 0.6);
    height: 60px;
    line-height: 60px;
    margin: none;
    box-shadow: 0 0 10px rgb(245, 229, 229);
}

main {
  margin-top: 60px;
}

#startpage {
    background-image: url("background.jpg");
    background-size: 100%;
}

#multi-step-form {
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 40px;
  width: 60%;
  min-width: 300px;
  box-shadow: 0 0 10px;
  border-radius: 12px;
}

.classwithpad {
	padding-left: 5px;
}

h1 {
    font-family: 'Loved by the King', cursive !important;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 26px;
    font-family: 'Didact Gothic', sans-serif;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    margin-bottom: 10px;
}

input.invalid {
    background-color: #ffdddd;
}


.step {
    display: none;
}

.dots {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.dots.active {
    opacity: 1;
}

.dots.finish {
    background-color:#FB005B;
}

button {
    background-color: #FB005B;
    color: white !important;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 26px;
    font-family: 'Didact Gothic', sans-serif;
    cursor: pointer;
  }

  #create {
    background-color: #FB005B;
    color: white;
    width: 20%;
    margin: auto;
    display: block;
    margin-top: 25%;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px black;

  }

  #to, #from {
    display: inline;
  }

  #fetch {
    background-color: #FB005B;
    color: white;
    width: 20%;
    margin: auto;
    display: block;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px black;
  }

  #nextBtn {
    float: right;
}
 
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }

  #activity_validation, #transport_validation, #accommodation_validation {
    margin-left: 30%;
    color: #FB0000;
    font-weight: bold;
  }
  
  nav {
    margin-top: 0;
    width: 100%;
    display: block;
    margin-bottom: 40px;
    line-height: 60px;
    position: sticky;
    overflow: hidden;
  }

  #headerpic {
    height: 60px;
    width: auto;
    float: left;
    margin: 0px;
    padding: 0px 10px 0px 10px;
}

#navlist {
  padding: 0;
  float: right;
}

.active {
  background-color: #FB005B;
  color: white !important;
}


#navlist > a {
  display: block;
  width: 200px;
  text-align: center;
  margin: 0;
  float: left;
  transition-delay: 0.1s;
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  
}


#navlist > a:hover {
  background-color: #FB005B;
  color: white !important;
}

/*icons*/
.picpadding {
	padding-left: 15px;
}

.picpaddingXL {
	padding-left: 25px;
}

.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 0;
    outline: 0;
    opacity: 0.6;
}

.image-checkbox:hover {
  opacity: 1.0;
}

.image-checkbox input[type="checkbox"] {
    display: none;
}

.image-checkbox-checked {
    opacity: 1.0;
}
.image-checkbox .glyphicon {
  position: absolute;
  color: #FB005B;
  padding: 5px;
  top: 0;
  right: 20%;
}
.image-checkbox-checked .glyphicon {
	display: block !important;
}

#code {
	color: white;
	text-align: center;
	margin-top: 300 px;
}

#info {
  font-size: 32px;
  color:  #FB005B;
}

#popover-link {
  text-decoration: none;
}

footer {
  text-align: center;
  color: white;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

/* result */
#grid-wrapper {
  margin: auto;
  padding: 0 50px 50px 50px 50px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.sticky {
position: sticky;
background-color: #FB005B;
color: white;
padding: 10px;
top: 0;
margin-bottom: 10px;
}

.quantity {
align: right;
}

.list_item {
display: block;
}

.table_div {
  display:table;
  width:100%;
}

.align_left {
display:table-cell;
text-align:left;
padding-left: 15px;
padding-bottom: 10px;

}

.align_right {
display:table-cell;
text-align:right;
padding-right: 5px;
padding-bottom: 10px;
}

.input_quantity {
width: 60px;
border-radius: 12px;
border: none;
text-align: right;
}


#packlista {
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
  padding: 40px 20px 10px 20px;
  margin: 40px auto 40px auto;
  font-size: 18px;
  background-color: white;
}

.grid-category {
height: 400px;
overflow: auto;
padding: 0 10px 10px 10px;
margin-top: 15px;
}

.margin-top {
top: 60px;
}

.item_checkbox {
padding-left: 10px;
}
.ap-input, .ap-hint {
  display: inline-block;
  background: #ffffff;
  width: 100%;
}

#button {
  width: 15%;
  display: block;
  box-align: center;
  margin: auto;
  margin-top: 10px;
  background-color: #FB005B;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 15px;
}

/* Main input wrapper */
.algolia-places {
  margin: auto;
}

/* The style of the svg icons when the input is on hover */
.ap-input:hover ~ .ap-input-icon svg,
.ap-input:focus ~ .ap-input-icon svg,
.ap-input-icon:hover svg {}

/* The dropdown style */
.ap-dropdown-menu {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

/* The suggestions style */
.ap-suggestion {}

/* The highlighted names style */
.ap-suggestion em {}

/* The addresses style */
.ap-address {}

/* The icons of each suggestions ( can be a building or a pin ) */
.ap-suggestion-icon {}

/* The style of the svg inside the .ap-suggestion-icon */
.ap-suggestion-icon svg {}

/* The icons inside the input ( can be a pin or a cross ) */
.ap-input-icon {
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  outline: none;
}

/* The style of the svg inside the .ap-input-icon */
.ap-input-icon svg {}

/* .a-cursor is the class a suggestion go on hover */
.ap-cursor {}

/* The style of the svg icon, when the .ap-suggestion is on hover */
.ap-cursor .ap-suggestion-icon svg {}

/* The styles of the Algolia Places input footer */
.ap-footer {}

/* The styles of the Algolia Places input footer links */
.ap-footer a {}

/* The styles of the Algolia Places input footer svg icons */
.ap-footer a svg {}

/* The styles of the Algolia Places input footer on hover */
.ap-footer:hover {}