html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
    font-family: 'Didact Gothic', sans-serif !important;
    font-size: 18px !important;
    margin: 0;
    padding: 0;
    background-image: url("header_scanningar_29.png");
    background-size: auto 100%;
    background-position: cover;
    background-repeat: repeat-y;
    margin: 0;
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    height: 60px;
    line-height: 60px;
    margin: none;
    box-shadow: 0 0 10px rgb(245, 229, 229);
}

h1 {
  font-family: 'Didact Gothic', sans-serif !important;
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 30px !important;
}

h2 {
  font-family: 'Didact Gothic', sans-serif !important;
  color: white;
}

button {
  background-color: #FB005B;
  color: white !important;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 26px;
  font-family: 'Didact Gothic', sans-serif;
  cursor: pointer;
  /* text-transform: uppercase !important;
  letter-spacing: 1px; */
}

button:hover {
  opacity: 0.8;
}

footer {
  text-align: center;
  color: white;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  height: 50px;
  line-height: 50px;
}

#startpage {
    background-image: url("header_scanningar_29.png");
    background-size: auto 100%;
    background-position: cover;
    background-repeat: no-repeat;
    margin: 0;
}

#startpic {
  width: 40%;
  margin: auto;
  display: block;
  margin-top: 100px;
}



#create {
  background-color: #FDFF1F !important;
  color: #FB005B !important;
  width: 220px;
  margin: auto;
  display: block;
  margin-top: 5%;
  cursor: pointer;
  border-radius: 3px !important;
  border: none;
  box-shadow: 0 0 5px black;
  font-weight: bold;
  font-family: 'Didact Gothic', sans-serif;
}

#fetch {
  background-color: #FDFF1F !important;
  color: #FB005B !important;
  width: 220px;
  margin: auto;
  display: block;
  margin-top: 2%;
  cursor: pointer;
  border-radius: 3px !important;
  border: none;
  box-shadow: 0 0 5px black;
  font-weight: bold;
  font-family: 'Didact Gothic', sans-serif;
}

#codeform {
  display:flex;
  flex-direction:row;
  width: 220px;
  /* This bit draws the box around it */
  height: 54px;
  margin: auto;
  margin-top: 2%;
  box-shadow: 0 0 5px black;
}

#codeinput {
  width: 120px;
  margin: auto;
  display: flex;
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
  height: 54px;
  padding: 0px 0 0 10px;
  border-radius: 3px 0px 0px 3px;
  font-family: 'Didact Gothic', sans-serif;
}

#codeinput:focus {
  padding: 0 0 0 10px !important;
  border: none;
}

#codesubmit {
  width: 60px;
  margin: auto;
  font-size: 26px;
  display: flex;
  border:1px solid #FDFF1F;
  background: #FDFF1F;
  color: #FB005B;
  height: 54px;
  padding: 0;
  border-radius: 0px 3px 3px 0px;
}

#cloud {
  color: #FB005B !important;
  padding: 12px 14px 15px 14px;
}
/*Form*/
#multi-step-form {
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 40px;
  width: 60%;
  min-width: 300px;
  /* box-shadow: 0 0 10px; */
  border-radius: 3px;
}

#errormessage {
  background-color: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 40px;
  width: 60%;
  min-width: 300px;
  /* box-shadow: 0 0 10px; */
  border-radius: 3px;
}

#errorpic {
  width: 100%;
  margin: auto;
}
input {
  padding: 10px;
  width: 100%;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  margin-bottom: 20px;
}

input.invalid {
  background-color: #ffdddd;
}

.dots {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-left: 15px;
  margin-right: 15px;
  background-color:#FDFF1F;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.6;
  box-shadow: 1px 2px lightgrey;

}

.dots.activedot {
  opacity: 1;
  background-color: #FB005B;
}

.dots.finish {
  background-color:#FB005B;
}

.classwithpad {
	padding-left: 5px;
}

.next {
  float: right;
  margin-top: 10px;
}

.previous {
  float: left;
  margin-top: 10px;
}

#submit-form-btn {
  background-color: #FB005B;
  color: white !important;
  border: none;
  border-radius: 3px;
  font-family: 'Didact Gothic', sans-serif;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  width: 170px;
  padding: 13px;
}

.fa-arrow-right , .fa-arrow-left {
  font-size: 25px;
  padding-top: 3px;
}

#to, #from {
  width: 35% !important;
  display: inline-block;
  margin: auto;
}

.datelabel {
  display: inline-block;
  width: 40%;
  text-align: right;
  color: black;
}

.datefields {
  display: block;
  padding-right: 10%;
}

.errormsg {
  text-align: center;
  color: #CC0000;
  font-weight: bold;
  padding-top: 10px;
}

/*icons*/
.picpaddingS {
  padding-left: 8px;
}

.picpadding {
	padding-left: 15px;
}

.picpaddingXL {
	padding-left: 25px;
}

.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 0;
    outline: 0;
    opacity: 0.5;
}

.image-checkbox:hover {
  opacity: 1.0;

}

.image-checkbox input[type="checkbox"] {
    display: none;
}

.image-checkbox-checked {
    opacity: 1.0;
}

.image-checkbox .glyphicon {
  position: absolute;
  color: #FB005B;
  padding: 5px;
  top: 0;
  right: 20%;
}
.image-checkbox-checked .glyphicon {
	display: block !important;
}

/* Main input wrapper */
.algolia-places {
  margin: auto;
  
}

/* The dropdown style */
.ap-dropdown-menu {
  text-align: left;
  font-family: 'Didact Gothic', sans-serif;
}

/* The icons inside the input ( can be a pin or a cross ) */
.ap-input-icon {
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  outline: none;
}


/* resultpage */
#grid-wrapper {
  margin: auto;
  grid-column-gap: 10px;
  padding: 0 50px 50px 50px 50px;
  display: grid;
  border-radius: 3px;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas:
  'clothes hygiene traveldocs'
  'electronics specials misc'
}

#clothes {
  grid-area: clothes;
  background-color: #FFFF6B;
}

#hygiene {
  grid-area: hygiene;
  background-color: #FFFF6B;
}

#traveldocs{
  grid-area: traveldocs;
  background-color: #FFFF6B;
}

#electronics {
  grid-area: electronics;
  background-color: #FFFF6B;
}

#specials {
  grid-area: specials;
  background-color: #FFFF6B;
}

#misc {
  grid-area: misc;
  background-color: #FFFF6B;
}

.sticky {
position: sticky;
background-color: #FB005B;
color: white;
width: 100%;
padding: 10px 5px 10px 5px;
top: 0;
margin-bottom: 10px;
z-index: 1;
}

.fa-arrows-alt-v {
  color: white;
  float: right;
  padding-right: 3px;
  padding-top: 0;
}
.quantity {
align: right;
}

.list_item {
display: block;
}

.table_div {
  display:table;
  width:100%;
}

.align_left {
display:table-cell;
text-align:left;
padding-left: 15px;
padding-bottom: 10px;
font-size: 25px;

}

.align_right {
display:table-cell;
text-align:right;
padding: 0px;
padding-right: 15px;
}

.deleteButton {
  height: 25px;
  width: auto;
  border: none;
  /* margin-top: 10px; */
  padding: 7px 0px 0px 10px;
}
.deleteButton2 {
  display: inline;
  height: 25px;
  width: auto;
  border: none;
  /* margin-top: 10px; */
  padding: 7px 0px 0px 10px;
} 

.input_quantity {
width: 60px;
border-radius: 12px;
border: none;
text-align: right;
background-color: rgba(253,255,31, 0.1) !important;
}

#packlista {
  width: 80%;
  height: auto;
  border-radius: 3px;
  /* box-shadow: 0 0 10px grey; */
  padding: 40px 20px 10px 20px;
  margin: 0 auto 40px auto;
  font-size: 18px;
  /* background-color:rgba(255, 255, 255, 0.2); */
}

#show_list {
  background-image: none;
  background-color: white;
}

.scrollpic {
  color: white !important;
}
.listicon {
  height: 30px;
  width: auto;
  padding-right: 10px;
}
.grid-category {
height: 400px;
overflow: auto;
margin-top: 15px;
}

.margin-top {
top: 60px;
}

.item_checkbox {
padding-left: 10px;
width: 50px;
}
.ap-input, .ap-hint {
  display: inline-block;
  background: #ffffff;
  width: 100%;
  padding: 10px;
  height: 48px;
  line-height: 40px;
}

#button {
  width: 180px;
  display: block;
  box-align: center;
  margin: auto;
  margin-top: 10px;
  background-color: #FB005B;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
}

#code {
	color: white;
	text-align: center;
	margin-top: 300 px;
}

#info {
  font-size: 32px;
  color:  #FB005B;
}

#popover-link {
  text-decoration: none;
  display: none;
}



#tripinfo {
  margin-left: 20%;
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  'destination_info date_info'
  'weight_info rain_info'
  'temp_info temp_info'
  
}

#tripinfo > img {
  padding-bottom: 5px;
}

#destination_info {
  grid-area: destination_info;
}
#date_info {
  grid-area: date_info;
}
#temp_info {
  grid-area: temp_info;
}
#rain_info {
  grid-area: rain_info;
}

#weight_info {
  grid-area: weight_info;
}
.wrapper {
  height: 100%;
  margin-bottom: -50px;
}

/* Responsive navbar*/

#headerpic {
  height: 60px;
  width: auto;
  float: left;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  display: inline-flex;
}

.navigationbar {
  justify-content: space-between;
  padding-bottom: 0;
  height: 60px;
  float: right;
  margin-bottom: 40px;
  line-height: 60px;
  position: sticky;
  overflow: hidden;
  margin-top: 0;
  width: 80%;
  display: block;
}

.current {
  background-color: #FB005B;
}

.current:hover {
  color: black !important;
  background-color: #FDFF1F;
}
.current a {
  color: white;
}

.current:hover a {
  color: black !important;
  background-color: #FDFF1F;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0;
}


.main-nav li {
  margin: 0;
  width: 30%;
  display: block;
  text-align: center;
  margin: 0;
  float: left;
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  line-height: 60px;
  height: 60px;
  padding: 0;
}

.nav-links {
  line-height: 60px;
  height: 60px;
  text-decoration: none !important;
  color: black;
}


.nav-links:hover {
  text-decoration: none !important;
  color: black;
}


.navbartoggle {
 display: none;
}


.main-nav li:hover {
  background-color: #FDFF1F;
  color: black !important;
}

.main-nav {
  list-style-type: none;
}

@media (max-width: 1330px) {
  .align_left_edit {
    flex-basis: 160px !important;
  }

}



@media (max-width: 1100px) {
  #grid-wrapper {
    margin: auto;
    padding: 0 50px 50px 50px 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'clothes hygiene' 
    'traveldocs electronics'
    'specials misc'
  }
  
  #tripinfo {
    margin-left: 10%;
  }

  .align_left_edit {
    flex-basis: 200px;
  }
}

@media (max-width: 950px) {

  #packlista {
    width: 85%;
  }
  .navbartoggle {
    display: block;
    position: absolute;
    right: 20px;
    cursor: pointer; 
    color: #FB005B;
    font-size: 24px;
  }

  .navigationbar {
    display: block;
    width: 100%;
    position: absolute;
    overflow: visible;
  }

  .main-nav {
    list-style-type: none;
    display: none;
  }

  .main-nav li {
    text-align: center;
    margin-right: 0;
    display: block;
    padding-right: 15px;
    width: 100%;
  }

  .active {
    display: block;
  }

  #js-menu {
    right: 0;
    width: 100%;
    margin-top: 60px;
    position: absolute;
    z-index: 2;
    background-color: white;

  }

  .image-checkbox {
    font-size: 15px;
    padding: 15px 0 0 0;
  }

  #tripinfo {
    display: none;
  }

  #popover-link {
    display: initial;
  }

  #headerpic {
    position: absolute;
    z-index: 2;
  }
}
  

@media (max-width: 765px) {
  #grid-wrapper {
    width: 80%;
    padding: 0 50px 50px 50px 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    'clothes'
    'hygiene'
    'traveldocs'
    'electronics'
    'specials' 
    'misc'
  }

  #packlista {
    width: 90%;
  }
  #multi-step-form {
    width: 80%;
  }

  .datelabel {
    width: 30%
  }

  #to, #from {
    width: 60% !important;
  }

  .checkboxpadding {
    padding-left: 50px;
    padding-right: 50px;
    min-height: 350px;
  }
}

@media (max-width: 540px) {
  #grid-wrapper {
    width: 100%;
  }

  #myFunction1 {
    display: initial;
  }

  #packlista {
    width: 100%;
  }

  .sticky {
    font-size: 24px;
  }

  .dots {
    margin-left: 5px;
    margin-right: 5px;
  }

  #multi-step-form {
    width: 100%;
    padding: 20px;
  }

  #startpic {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .checkboxpadding {
    padding-left: 35px;
    padding-right: 0;
  }

  .col-xs-5 {
    padding: 0 !important;
  }

  #packlista {
    padding-right: 0;
    padding-left: 0;
  }
}


@media print {
  #grid-wrapper {
    width: 100%;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-areas:
    'clothes hygiene traveldocs'
    'electronics specials misc'
  }
  .grid-category {
    height: auto;
  }

  #myTopnav {
    display: none;
  }

  footer {
    display: none;
  }

  #button {
    display: none;
  }

  #packlista {
    margin-top: 0;
  }
}

/* The container */
.cbcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cbcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: lightgrey;
}

/* On mouse-over, add a grey background color */
.cbcontainer:hover input ~ .checkmark {
  background-color: grey;
}

/* When the checkbox is checked, add a blue background */
.cbcontainer input:checked ~ .checkmark {
  background-color: #FB005B;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cbcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cbcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 12px;
  border: solid #FDFF1F;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/*Sebastians kod*/
.btn-item{}

.fa-plus{
  float: right;
  height: auto;
  width: 10%;
  border: none;
  color: yellow;
  font-size: 25px;
}
.fas{
  padding-top: 4px;
}

.btn-item{
float: right;
height: 15%;
width: 15%;
border: none;
}
.add_item{
  display: inline-flex;
  width: auto;
  height: 30px;
  font-size: 15px;
  padding: 5px;
  margin: 5px;
}
/* #btn-remove{
  float: right;
  display: inline-block;
  height: 10px;
  width: 10px;
} */

ul{
padding: 0px;
}

li{
list-style: none;
width: 100%;
height: 45px;
/* padding-right: 15px; */
display: table;
}
.styledFunction {
height: auto;
width: 13%;
float: right;
border: none;
}
.rotate {
  -moz-transform: rotate(-180deg);
     -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
}
.input_quantity{
display: inline;
font-size: 20px;
}
.item-box{
  display: inline-block;
  width: 65%;
  height: 65%;
  padding-right:0px;
}
#myFunction1{
  position: relative;
  z-index: -1;
}

.edit_list{
  list-style: none;
  height: 45px;
  /* padding-right: 15px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.editalign_right{
  display:table-cell;
  text-align:right;
  padding: 0px;
  padding-right: 15px;
}

.editalign_left {
  flex-basis: 230px;
  display: flex;
  text-align:left;
  padding-bottom: 10px;
  font-size: 20px;
}

.align_left_edit {
  flex-basis: 230px;
  display: flex;
  text-align:left;
  padding-bottom: 10px;
  font-size: 20px;
}

.align_right_edit {
  text-align:right;
  padding: 0px;
  padding-right: 15px;
  }

.input_quantity {
  padding: 0;
}