<!doctype html>

<html lang="sv">
<head>

        <title>Bagpacker</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/style.css" rel="stylesheet">
        <link rel='shortcut icon' type='image/x-icon' href="/static/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto+Condensed" rel="stylesheet">


</head>

<body>
    <h2>Skriv in följande kod i appen för att komma åt din packlista: {{code}}</h2>


    <footer>
        &copy; Team Bagpacker 2019
    </footer>



</body>


</html>