<!doctype html>

<html lang="sv">
<head>

        <title>Bagpacker</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/style.css" rel="stylesheet">
        <link rel='shortcut icon' type='image/x-icon' href="/static/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Loved+by+the+King|Sue+Ellen+Francisco" rel="stylesheet">


</head>

<body>
        <header>
                <a href="/newlist"><img src="/static/BackpackerLogotyp.png" alt="Bagpacker" id="headerpic"></a>
                <nav class="navigationbar">
                        <span class="navbartoggle" id=js-navbar-toggle>
                            <i class="fas fa-bars"></i>
                        </span>
                        
                        <ul class="main-nav" id="js-menu">
                                <li class="current"><a href="/newlist" class="nav-links current">Ny packlista</a></li>
                                <li><a href="/" class="nav-links">Hämta packlista</a></li>
                                <li><a href="/" class="nav-links">Packtips</a></li>
                                <li><a href="/" class="nav-links">Om oss</a></li>
                        </ul>      
                </nav>
        </header>
    <main class="wrapper">
        <div id="errormessage">
            <h2>Någonting gick fel...</h2>
            <img src="/static/BackpackerLogotyp.png" alt="Backpacker" id="headerpic">

        </div>









    </main>

    <footer>
        &copy; Team Bagpacker 2019
    </footer>



</body>


</html>