<!doctype html>

<html lang="sv">
<head>

        <title>Bagpacker</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/style.css" rel="stylesheet">
        <link rel='shortcut icon' type='image/x-icon' href="/static/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Loved+by+the+King|Sue+Ellen+Francisco" rel="stylesheet">


</head>

<body>
    <header>
            <nav>
                    <a href="/newlist"><img src="/static/BackpackerLogotyp.png" alt="Bagpacker" id="headerpic"></a>
                    <div id="navlist">
                            <a href="/newlist" class="active">Ny packlista</a>
                            <a href="/">Hämta packlista</a>
                            <a href="/">Packtips</a>
                            <a href="/">Om oss</a>
                    </div>      
            </nav>
    </header>
    <main>
        <div id="errormessage">
            <h2>Någonting gick fel...</h2>
            <img src="/static/BackpackerLogotyp.png" alt="Backpacker">

        </div>









    </main>

    <footer>
        &copy; Team Bagpacker 2019
    </footer>



</body>


</html>