<!doctype html>

<html lang="sv">
<head>

        <title>Bagpacker</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/style.css" rel="stylesheet">
        <link rel='shortcut icon' type='image/x-icon' href="/static/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Loved+by+the+King|Sue+Ellen+Francisco" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
</head>

<body>
        <header>
                <a href="/"><img src="/static/BackpackerLogotyp.png" alt="Bagpacker" id="headerpic"></a>
                <nav class="navigationbar">
                        <span class="navbartoggle" id=js-navbar-toggle>
                            <i class="fas fa-bars"></i>
                        </span>
                        
                        <ul class="main-nav" id="js-menu">
                            <li><a href="/newlist" class="nav-links">Ny packlista</a></li>
                            <li class="current"><a href="/fetch_list" class="nav-links">Hämta packlista</a></li>
                            <li><a href="/packhacks" class="nav-links">Packtips</a></li>
                            <li><a href="/about" class="nav-links">Om oss</a></li>
                        </ul>      
                </nav>
        </header>
       
            <img src="/static/BackpackerLogotyp.png" alt="Backpacker" id="fetchpic">
    
            <input type="button" id="fetch" value="Hämta packlista">
        
        <script>
            $(document).ready(function(){
                $("#fetch").click(function(){
                $(this).replaceWith('<form action="/get_saved_list" method="POST" id="codeform"><input type="text" id="codeinput" name="code" placeholder="Ange kod" autocomplete="off" required><button type="submit" id="codesubmit"><i class="fas fa-cloud-download-alt" id="cloud"></i></button></form>')
            });
            });
        </script>
        </body>
    
        </html>

    <!-- <footer>
        &copy; Team Bagpacker 2019
    </footer> -->


    <script src="/static/script.js"></script>
</body>


</html>