<!DOCTYPE html>
<html lang="sv" >

    <head>
        <meta charset="UTF-8">
        <title>Bagpacker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='shortcut icon' type='image/x-icon' href="/static/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Loved+by+the+King|Sue+Ellen+Francisco" rel="stylesheet">
        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Loved+by+the+King|Sue+Ellen+Francisco" rel="stylesheet">
    </head>


    <body id="startpage">

        <input type="button" id="create" onclick="window.location.href='/newlist'" value="Ny resa">
        <input type="button" id="fetch" value="Min packlista">
    
    </body>

    </html>