<!doctype html>

<html lang="sv">
<head>

        <title>Bagpacker</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/style.css" rel="stylesheet">
        <link rel='shortcut icon' type='image/x-icon' href="/static/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Loved+by+the+King|Sue+Ellen+Francisco" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- Icon navbar -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
        <script>
                $(document).ready(function(){
                  $('[data-toggle="popover"]').popover({title: "<h4>Din resa till {{location[0]}}, {{location[1]}}</h4>", content: "<p><img src='/static/calendar.png' class='listicon'> {{start}} - {{finish}}</p><p><img src='/static/thermometer.png' class='listicon'><span style='margin-left:30px;'>i genomsnitt {{mean_temp}} °C (min: {{temp_min}}°C, max: {{temp_max}}°C, baserad på {{which_data}} väderdata)</span></p><p><img src='/static/umbrella.png' class='listicon'> Regnrisk: {{rain_risk}}</p><p><img src='/static/weight.png' class='listicon'> Din packning väger {{total_weight}} kg.</p>", html: true, placement: "right"}); 
                });
        </script>
                
</head>

<body>
    <header>
            <a href="/newlist"><img src="/static/BackpackerLogotyp.png" alt="Bagpacker" id="headerpic"></a>
            <nav class="navigationbar">
                    <span class="navbartoggle" id=js-navbar-toggle>
                        <i class="fas fa-bars"></i>
                    </span>
                    
                    <ul class="main-nav" id="js-menu">
                            <li class="current"><a href="/newlist" class="nav-links">Ny packlista</a></li>
                            <li><a href="/" class="nav-links">Hämta packlista</a></li>
                            <li><a href="/" class="nav-links">Packtips</a></li>
                            <li><a href="/" class="nav-links">Om oss</a></li>
                    </ul>      
            </nav>
    </header>

    <main id="packlista">
        <h1>Din packlista<a href="#" id="popover-link" data-toggle="popover">
            <!-- title="Så här har vi genererat packlistan" data-html="true" data-content="Packlistan för din resa till {{location}} är baserad på {{which_data}} väderdata. Temperaturen beräknas ligga mellan {{temp_min}} och {{temp_max}} °C. Regnrisken är {{rain_risk}}. Din packning väger {{total_weight}} kilo." data-placement="right" data-trigger="hover"> --> <i class="fas fa-info-circle" id="info"></i></a></h1>
        <div id="tripinfo">    
                <p id="destination_info"><img src="/static/destination.png" class="listicon"> {{location[0]}}, {{location[1]}}</p>
                <p id="date_info"><img src="/static/calendar.png" class="listicon"> {{start}} - {{finish}}</p>
                <p id="temp_info"><img src="/static/thermometer.png" class="listicon"> i genomsnitt {{mean_temp}} °C (min: {{temp_min}}°C, max: {{temp_max}}°C, baserad på {{which_data}} väderdata)</p> 
                <p id="rain_info"><img src="/static/umbrella.png" class="listicon"> Regnrisk: {{rain_risk}}</p> 
                <p id="weight_info"><img src="/static/weight.png" class="listicon"> Din packning väger {{total_weight}} kg.</p>
        </div>
        <form action="/save_list/" method="POST">
        <div id="grid-wrapper">
            <div class="grid-category" id="clothes">
                <h2 class="sticky">Kläder<i class="fas fa-arrows-alt-v"></i></h2>
                <div class="margin-top">
                
                    % for item in item_list:
                        %if item['category'] == "kläder":
                        <div class="table_div">
                            <div class="align_left">
                                    <label class="cbcontainer">{{item['item']}}
                                            <input type="checkbox" name="{{item['id']}}" value="true">
                                            <span class="checkmark"></span>
                                    </label>
                            </div>
                            <div class="align_right">
                                {{item['quantity']}}
                            </div>
                        </div>
                        %end
                    %end
                    
                </div>
            </div>
            <div class="grid-category" id="hygiene">
                <h2 class="sticky">Hygienartiklar <i class="fas fa-arrows-alt-v"></i></h2>
                <div class="margin-top">
                    % for item in item_list:
                        %if item['category'] == "necessär":
                        <div class="table_div">
                                <div class="align_left">
                                        <label class="cbcontainer">{{item['item']}}
                                                <input type="checkbox" name="{{item['id']}}" value="true">
                                                <span class="checkmark"></span>
                                        </label>
                                </div>
                            <div class="align_right">
                                    {{item['quantity']}}
                            </div>
                        </div>
                        %end
                    %end
                </div>
            </div>
            <div class="grid-category" id="traveldocs">
                <h2 class="sticky">Resehandlingar <i class="fas fa-arrows-alt-v"></i></h2>
                <div class="margin-top">
                    % for item in item_list:
                        %if item['category'] == "resehandlingar":
                        <div class="table_div">
                                <div class="align_left">
                                        <label class="cbcontainer">{{item['item']}}
                                                <input type="checkbox" name="{{item['id']}}" value="true">
                                                <span class="checkmark"></span>
                                        </label>
                                </div>
                            <div class="align_right">
                                    {{item['quantity']}}
                            </div>
                        </div>
                        %end
                    %end
                </div>
            </div>
            <div class="grid-category" id="electronics">   
                <h2 class="sticky">Elektronik <i class="fas fa-arrows-alt-v"></i></h2>
                <div class="margin-top">
                    % for item in item_list:
                        %if item['category'] == "elektronik":
                        <div class="table_div">
                                <div class="align_left">
                                        <label class="cbcontainer">{{item['item']}}
                                                <input type="checkbox" name="{{item['id']}}" value="true">
                                                <span class="checkmark"></span>
                                        </label>
                                </div>
                            <div class="align_right">
                                    {{item['quantity']}}
                            </div>
                        </div>
                        %end
                    %end
                </div>
            </div>
            <div class="grid-category" id="specials">   
                <h2 class="sticky">Specialutrustning <i class="fas fa-arrows-alt-v"></i></h2>
                <div class="margin-top">
                    % for item in item_list:
                        %if item['category'] == "specialutrustning":
                        <div class="table_div">
                                <div class="align_left">
                                        <label class="cbcontainer">{{item['item']}}
                                                <input type="checkbox" name="{{item['id']}}" value="true">
                                                <span class="checkmark"></span>
                                        </label>
                                </div>
                            <div class="align_right">
                                    {{item['quantity']}}
                            </div>
                        </div>
                        %end
                    %end
                </div>
            </div>
            <div class="grid-category" id="misc">
                <h2 class="sticky">Övrigt <i class="fas fa-arrows-alt-v"></i></h2>
                <div class="margin-top">
                    % for item in item_list:
                        %if item['category'] == "övrigt":
                        <div class="table_div">
                                <div class="align_left">
                                        <label class="cbcontainer">{{item['item']}}
                                                <input type="checkbox" name="{{item['id']}}" value="true">
                                                <span class="checkmark"></span>
                                        </label>
                                </div>
                            <div class="align_right">
                                    {{item['quantity']}}
                            </div>
                        </div>
                        %end
                    %end
                </div>
            </div>
        </div>
            <input type="hidden" name="destination" value="{{location[0]}}, {{location[1]}}">
            <input type="hidden" name="temp_min" value="{{temp_min}}">
            <input type="hidden" name="temp_max" value="{{temp_max}}">
            <input type="hidden" name="temp_mean" value="{{mean_temp}}">
            <input type="hidden" name="which_data" value="{{which_data}}">
            <input type="hidden" name="rain_risk" value="{{rain_risk}}">
            <input type="hidden" name="saved_list" value="{{item_list}}">
            <input type="submit" id="button" value="Spara listan">
        </form>
        <!-- <form action="/edit_list/" method="POST">
            <input type="hidden" name="saved_list" value="{{item_list}}">
            <input type="submit" id="button" value="Redigera listan">
        </form> -->

    </main>
    <script src="/static/script.js"></script>
    <footer>
        &copy; Team Bagpacker 2019
    </footer>
    
    
    
</body>
    
    
</html>